body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('assets/fundoHorizontal.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    body {
        background-image: url('assets/fundoVertical.jpg');
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.0);
    padding: 10px 20px;
    color: #00070e;
}

header img {
    max-height: 80px;
}

header .contact-info {
    text-align: right;
    font-size: 0.9rem;
}

header .contact-info a {
    text-decoration: none;
    color: #00050a;
}

nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    position: relative;
}

.menu-toggle {
    display: none;
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    position: absolute; /* Para posicionar na área do header */
    right: 20px; /* Alinhar à direita */
    top: 10px; /* Ajustar o espaçamento superior */
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu-items a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.menu-items a:hover {
    color: #ffcc00;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        margin: 0;
    }

    .menu-items {
        display: none;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 50px;
        left: 0;
        right: 20px;
        text-align: right;
        padding: 10px 0;
        border-radius: 5px;
    }

    .menu-items.show {
        display: flex;
    }
}

main {
    max-width: 800px;
    margin: 20px auto;
    background: rgba(29, 28, 28, 0.0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
    flex: 1;
}

h1 {
    color: #01080f;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
